.navbar {
    /* position: sticky; */
    /* display: flex; */
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0px 20px;
    background: azure;
    z-index: 1000;
}

.navigation {
    justify-content: flex-end;
}

.navigation,
.logo {
    display: flex;
    align-items: center;
    /* gap: var(--component-gap); */
    gap: 1rem;
}