.chatBubble {
    /* background-color: #f1f1f1; */
    border-radius: 12px;
    /* padding: 12px 16px; */
    /* margin: 8px 0; */
    /* max-width: 80%; */
    align-self: flex-start;
    /* position: relative; */
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.message {
    padding: 10px 15px;
    border-radius: 8px;
    /* max-width: 75%; */
    word-wrap: break-word;
    white-space: pre-line;

}



.user {
    /* align-self: flex-end; */
    background-color: #007bff;
    color: white;
}

.ai {
    /* align-self: flex-start; */
    background-color: #e5e5e5;
    color: black;
}