.chatWindow {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    /* margin-top: 10px; */
    /* display: flex;
    flex-direction: column;
    flex: 1; */
    background-color: #f0ffff;
    gap: 8px;
    /* height: 100%; */
    position: relative;
}

.message {
    padding: 10px 15px;
    border-radius: 8px;
    /* max-width: 75%; */
    word-wrap: break-word;
    white-space: pre-line;

}



.user {
    /* align-self: flex-end; */
    background-color: #007bff;
    color: white;
}

.ai {
    /* align-self: flex-start; */
    background-color: #e5e5e5;
    color: black;
}

/* .user_bubble {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: end;
}

.agent_bubble {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: end;

} */