.chatInput {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    background-color: #f0ffff;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--main-padding);
    position: sticky;
    bottom: 0;
}

.chatInput Input {
    grid-column: 1;
}

.chatInput button {
    grid-column: 2;
}