.sidebar_menu {
    height: 100%;
    background-color: rgb(184, 254, 127);
    /* z-index: 100; */
    padding: var(--main-padding);
    z-index: 2;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
}