.sidebar_tray {
    background-color: rgb(76, 131, 113);
    height: 100%;
    top: 0;
    left: 0;
    /* transition: transform 0.3s ease-in-out; */
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.sidebar_tray_open {
    position: absolute;
    width: 300px;
    /* z-index: 1000; */
    left: 100%;
    transform: translateX(0);
    transition: transform .3s ease-in-out;
}

/* .sidebar_tray {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: rgb(76, 131, 113);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar_tray_open {
    transform: translateX(0);
} */