.dropdownContainer {
    /* position: absolute; */
    display: inline-block;
    /* align-items: center; */
    border-radius: 3rem;
    /* display: flex; */
}

.trigger {
    cursor: pointer;
    /* display: flex; */
    /* min-height: 100%; */
    /* align-items: center; */
}

.dropdownContent {
    right: 20;
    /* background: yellow; */
    border-radius: 0 0 5px 5px;
    border: 3px solid var(--text-color, #fff);
    border-top: none;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
}

.dropdownContent li {
    gap: 8px;
    padding: 8px;
    align-items: center;
    display: flex;
    cursor: pointer;

}

.dropdownContent li:hover {
    background: var(--primary-color);
    color: var(--primary-shade);
    cursor: pointer;
}