.dropdownContainer {
    position: relative;
    display: inline-block;
    align-items: center;
    /* display: flex; */
}

.trigger {
    cursor: pointer;
    /* display: flex; */
    min-height: 100%;
    /* align-items: center; */
}

.dropdownContent {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    background: var(--primary-shade);
    border-radius: 0 0 5px 5px;
    border: 3px solid var(--text-color, #fff);
    border-top: none;
    overflow: hidden;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdownContent li {
    gap: var(--component-gap);
    padding: 8px;
    align-items: center;
    display: flex;
    cursor: pointer;

}

.dropdownContent li:hover {
    background: var(--primary-color);
    color: var(--primary-shade);
    cursor: pointer;
}