.connect_ui {
    display: flex;
    /* align-items: center; */
    background-color: var(--primary-color);
    color: var(--main-text-color);
    display: flex;
    /* padding: .3rem; */
    gap: .3rem;
    border-radius: 3rem;
    align-items: center;
    border: 1.7px solid white;
    box-shadow: 0px 0px 0px 1px black inset;
    align-self: center;
    cursor: pointer;
    height: 34px;
    /* min-width: 150px; */
}

.is_connected {
    padding: .3rem;
    min-width: 100px;
}